.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}